/** @format */

/** CALENDAR GRAPH **/

:root {
  --square-size: 14px;
  --square-gap: 2px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months {
  grid-area: months;
}
.days {
  grid-area: days;
}
.squares {
  grid-area: squares;
}

.graph {
  border-radius: 1rem;
  display: inline-grid;
  grid-template-areas: "empty months" "days squares";
  grid-template-columns: auto 1fr;
  padding: 0.2rem;

  font-size: 12px;

  li {
    list-style: none;
  }
}

.months {
  text-transform: lowercase;
  margin-left: 1rem;
  margin-bottom: 0rem;
  display: grid;
  grid-template-columns: repeat(12, calc(var(--week-width) * 4));
}

.days {
  text-transform: uppercase;
  text-align: right;
  padding: 1rem;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  border: 2px solid lightgray;
  padding: 1rem;
  border-radius: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
  grid-auto-rows: var(--square-size);
  margin-right: 0.8rem;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  border-radius: 100%;
  background-color: #ebedf0;
}

/** TIMELINE GRAPH **/

.timeline-wrapper {
  margin-top: 1rem;
  border-top: 2px solid lightgrey;
  overflow: scroll;
}

.timeline {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}

.timeline-wrapper::before {
  background-color: lightgrey;
  content: "";
  position: absolute;
  margin-left: 4rem;
  width: 2px;
  height: 100%;
}

.add-action {
  position: absolute;
  margin-top: -2rem;
  margin-left: 2rem;
  font-size: 3rem;
  color: white;
  background-color: black;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-entry {
  margin-left: 6rem;
  padding: 1rem 2rem 1rem 1rem;
  border: 2px solid lightgrey;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  width: fit-content;
  max-width: 60vw;

  .category {
    font-size: 1.5rem;
  }

  .day {
    position: absolute;
    left: 1.5rem;
  }

  .text {
    margin: auto 0 auto 0;
  }
}

.reading {
  border-color: #ffd3ba;
}
.coding {
  border-color: #cfdeff;
}
.art {
  border-color: #fffccf;
}
.writing {
  border-color: #aee2cd;
}
