/** @format */
.sidebar-selector {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  margin: 0 auto 0 auto;
}

#sidebar a {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: white;
  font-size: 2rem;
  border-radius: 100%;
  border: 2px solid lightgrey;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
}

#sidebar {
  .reading {
    background-color: #ffd3ba;
  }
  .coding {
    background-color: #cfdeff;
  }
  .art {
    background-color: #fffccf;
  }
  .writing {
    background-color: #aee2cd;
  }
}

#sidebar a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

#sidebar a.pending {
  opacity: 0.5;
}

#sidebar a.active {
  border-color: grey;
}
