/** @format */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

body .placeholder {
  opacity: 0.2;
}

.section {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

#sidebar {
  padding: 2rem;
  width: 22rem;
  border-right: solid;
  display: flex;
  flex-direction: column;
  background-color: papayawhip;
}

#sidebar > * {
  padding-left: 2rem;
  padding-right: 2rem;
}
#main {
  width: 70vw;
  padding: 2rem;
  margin-left: 2.5rem;
}

.calendar {
  height: 20vh;
}

.timeline {
  height: 70vh;
}
